[Unit]
Description=EPAM Display Manager
Requires=dbus.service weston.service
After=dbus.service weston.service afm-api-windowmanager@%i.service displbe.service

[Service]
SupplementaryGroups=display
Environment="XDG_RUNTIME_DIR=/run/platform/display"
Type=simple
ExecStartPre=/usr/bin/weston-info
ExecStart=/usr/bin/display-manager-ready -t 10
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
